.landingPage {
  padding: 1rem;
  height: 75vh;
  display: flex;
  flex-direction: column;
}
.landingPage h3 {
  font-weight: 400;
  text-align: center;
}
.landingPage p {
  font-size: 1rem;
}
.landingLinks {
  display: flex;
  justify-content: space-around;
}
.landingLinks a {
  padding: 0 7.5px;
}
.playOptions {
  margin: auto 0;
}
.changingText {
  font-size: 1.5rem;
}
.middleContent {
  align-self: center;
  justify-content: center;
  margin-top: 30px;
  flex: 1;
}
.changingText__container {
  margin: 0 auto;
}
.landingOfflineText:hover,
.landingOnlineText:hover {
  font-weight: 800;
}
