.box {
  text-align: center;
  font-size: 30px;
  font-family: 'Comic Sans' cursive;
  display: flex;
  border-collapse: collapse;
  height: 33.3%;
  width: 33.3%;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
div#0.box {
  background-color: red;
}
.oneWinner {
  background-color: red;
}

.twoWinner {
  background-color: blue;
}
