.RegistrationForm {
  max-width: 450px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.RegistrationForm div {
  margin: 5px;
}
