.App {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 960px;
  margin: 0 auto;
  height: 90vh;
  width: 100vw;
}

.App__header {
  padding-left: 20px;
  padding-right: 20px;
}

.App__main {
  margin-top: 20px;
}
.App__footer {
  width: 100%;
  position: fixed;
  padding: 0.5% 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  justify-content: flex-end;
}

.spinnerContainer {
  margin: auto auto;
  align-items: center;
  height: 80vh;
  display: flex;
}
