.CreateNewGameRoom_div,
.JoinGameForm {
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 10px auto;
}
.GameFormContainer {
  font-family: 'Permanent Marker', cursive;
}
