.CreateNewGameRoom_div,
.JoinGameForm {
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 10px auto;
}
.GameFormContainer {
  height: 60vh;
  font-family: 'Permanent Marker', cursive;
}
.JoinGameForm div {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
