.footer__content {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.toggleTheme:hover {
  cursor: pointer;
}
.footer__content button {
  height: 30px;
  border-radius: 5px;
}
