div.footer__content {
  display: flex;
  justify-content: space-between;
}

div.footer__content p {
  order: 1;
  justify-self: center;
}
div.footer__content button {
  height: 30px;
  align-self: center;
  border-radius: 5px;
  order: 2;
}
