.typeSelect {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  position: relative;
  z-index: 500;
}
/* position of type select was being overlapped by the footer content */
.typeSelect:hover {
  cursor: pointer;
}

.typeSelect option {
  font-family: 'Permanent Marker', cursive;
}
